*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: pink;
}
.wrapper{
    width: 450px;
    color: #fff;
   background: purple;
}
.wrapper h1{
    text-align: center;
    font-size: 30px;
}
.wrapper .input-details{

}